@media screen and (max-width: 419px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .row {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 0;
    font-size: 1.1em;
    padding: 10px 10px 0 10px;
    background-color: lightgoldenrodyellow;
  }

  #steps .row > .left,
  #steps .row > .right,
  #steps .row > .central,
  #lezioni .row > .left,
  #lezioni .row > .right,
  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    float: none;
    width: 100vw;
    margin: 20px 0;
  }

  #steps.container.grey .row {
    background-color: #f9f9f9;
  }

  img {
    max-width: 40vw;
    height: auto;
  }

  #steps .row img {
    width: 30vw;
    height: auto;
  }

  #why .row img {
    max-width: 20vw;
    height: auto;
  }
}
