@media screen and (max-width: 419px) {
  .row {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 0;
    font-size: 1.1em;
    padding: 0 10px;
    background-color: lightgoldenrodyellow;
  }

  #steps .row > .left,
  #steps .row > .right,
  #steps .row > .central,
  #lezioni .row > .left,
  #lezioni .row > .right,
  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    float: none;
    width: 100vw;
    margin-top: 20px;
  }

  #steps .container.grey .row {
    background-color: #f9f9f9;
  }

  img,
  #why .row img {
    max-width: 70vw;
    height: auto;
  }
}
